{% extends 'bill_coll/base.html' %} {% block body_block %}

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2 class="text-success text-center text-uppercase mb-5">
        Welcome to Admin Dashboard!
      </h2>
      <div class="card rounded-0">
        <div
          class="card-header d-flex align-items-center bg-info text-white rounded-0"
        >
          <h4>Bill Collection List</h4>

          <a
            class="btn btn-primary ms-auto rounded-0"
            href="{% url 'bill_coll:addcollection' %}"
            >Add Collection</a
          >
        </div>
        <div class="card-body">
          <table class="table table-bordered mt-3">
            <thead class="table-dark">
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Package</th>
                <th scope="col">Collection Date</th>
                <th scope="col">Bill Month</th>
                <th scope="col">Bill Amount</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for collection in collection_list %}
              <tr>
                <td>{{collection.user_id}}</td>
                <td>{{collection.package}}</td>
                <td>{{collection.billDate}}</td>
                <td>{{collection.billMonth}}</td>
                <td>${{collection.amount}}</td>
                <td>
                  <a
                    class="btn btn-sm rounded-0 btn-info"
                    href="{% url 'bill_coll:viewcollection' collection_id=collection.id %}"
                    >View</a
                  >
                  <a
                    class="btn btn-sm rounded-0 btn-warning"
                    href="{% url 'bill_coll:editcollection' collection_id=collection.id %}"
                    >Edit</a
                  >
                  <a
                    class="btn btn-sm rounded-0 btn-danger"
                    href="{% url 'bill_coll:deletecollection' collection_id=collection.id %}"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
