{% extends 'bill_coll/base.html' %} {% block body_block %}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card rounded-0">
        <div
          class="card-header d-flex align-items-center bg-info text-white rounded-0"
        >
          <h4>Package List</h4>

          <a
            class="btn btn-primary ms-auto rounded-0"
            href="{% url 'bill_coll:addpackage' %}"
            >Add Package</a
          >
        </div>

        <div class="card-body">
          {% if package_list %}
          <table class="table table-bordered mt-3">
            <thead class="table-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of Channels</th>
                <th scope="col">Number of HD Channels</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for package in package_list %}
              <tr>
                <td>{{package.name}}</td>
                <td>{{package.numberofchannels}}</td>
                <td>{{package.numberofHDchannels}}</td>
                <td>{{package.price}}</td>
                <td>
                  <a
                    class="btn btn-sm rounded-0 btn-info"
                    href="{% url 'bill_coll:viewpackage' package_id=package.id %}"
                    >View</a
                  >
                  <a
                    class="btn btn-sm rounded-0 btn-warning"
                    href="{% url 'bill_coll:editpackage' package_id=package.id %}"
                    >Edit</a
                  >
                  <a
                    class="btn btn-sm rounded-0 btn-danger"
                    href="{% url 'bill_coll:deletepackage' package_id=package.id %}"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h2>no package available</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
