{% extends 'bill_coll/base.html' %} {% block body_block %}
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mb-5">
        <div class="card-header bg-info text-white">
          <h4>Update Profile</h4>
        </div>
        <div class="card-body">
          <div>
            {% for message in messages %}
            <h5 class="text-danger">{{message}}</h5>
            {% endfor %}

            <div class="my=3">
              <img
                class="img-thumbnail mb-3"
                style="width: 100px"
                src="{{user.photo.url}}"
                alt="{{user.user.username}}"
              />
            </div>

            <form
              action=""
              method="POST"
              enctype="multipart/form-data"
              id="update-form"
              data-areas-url="{% url 'bill_coll:ajax_load_areas' %}"
            >
              <!-- # for id, . for class-->
              {% csrf_token %} {{form.as_p}}
              <input
                class="btn btn-primary"
                type="submit"
                value="Update Profile"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}
